*, ::after, ::before {
  box-sizing: border-box;
}
 .product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1193px;
    align-items: center;
    margin-bottom: 64px;
    margin: 60px auto;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .product-index {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  } 
  select{
    width: 90px;
    height: 25px;
    font-size: 15px;

  }
  
   img{
     
    width: 290px;
    padding: 20px;
    margin: 6px 6px;        
    border: 1px solid #33B5E5;
  }